<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
		<title></title>
		<link rel="manifest" href="manifest.json">

		<!-- un-comment this code to enable service worker
		<script>
		  if ('serviceWorker' in navigator) {
			navigator.serviceWorker.register('service-worker.js')
			  .then(() => console.log('service worker installed'))
			  .catch(err => console.log('Error', err));
		  }
		</script>-->

		<link href="lib/ionic/css/ionic.css" rel="stylesheet">
		<link href="css/style.css" rel="stylesheet">

		<!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
		<link href="css/ionic.app.css" rel="stylesheet">
		-->

		<!-- ionic/angularjs js -->
		<script src="lib/ionic/js/ionic.bundle.js"></script>

		<!-- cordova script (this will be a 404 during development) -->
		<script src="cordova.js"></script>

		<!-- your app's js -->
		<script src="js/app.js"></script>
	</head>
	<body ng-app="newApp" ng-controller="myNewsController">
		<ion-pane>
			<ion-header-bar class="bar-positive">
				<h1 class="title">News Reader</h1>
			</ion-header-bar>		 
			<ion-content>
				<ion-refresher
					pulling-text="Pull To Refresh..."
					on-refresh="doRefresh()">
				</ion-refresher>
				<section class="list">
					<article ng-repeat="newsArticle in news track by $index">						
						<a href="{{newsArticle.link}}"  class="item item-avatar-left" ng-if="newsArticle.title">
						<img ng-src="{{newsArticle.image}}" />
						<h2 class="noWhiteSpace">{{newsArticle.title}}</h2>
						<p class="noWhiteSpace">{{newsArticle.content}}</p>
						<p><i>Posted on {{newsArticle.date}} {{newsArticle.time}}</i></p>
						</a>
					</article>
				</section>
				<ion-infinite-scroll
					on-infinite="loadMore()"
					distance="5%">
				</ion-infinite-scroll>
			</ion-content>     
		</ion-pane>
	</body>
</html>
